.catalog {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 48px;

  @media only screen and(min-width: 488px) {
    grid-template-columns: 200px 200px;
  }

  @media only screen and (min-width: 768px) {
    grid-template-columns: 200px 200px 200px;
  }

  @media only screen and (min-width: 1024px) {
    grid-template-columns: 200px 200px 200px 200px;
  }

  &__card {
    display: grid;
    place-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
